<odoo>
    <!-- Create a root menu -->
    <menuitem id="menu_quota_root" name="Quota Management" sequence="10"/>

    <!-- Add submenu under it -->
    <menuitem id="menu_quota_usage"
              name="Quota d'utilisation"
              parent="menu_quota_root"
              action="action_quota_usage"
              sequence="100"/>
</odoo>
